---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Over ons"
	description="De eerste zaterdag van Augustus"
	pubDate={new Date('August 01 2020')}
	heroImage="/bg-about.jpg"
>
<h3 class="section-heading">
  Beste wedstrijdzeiler,
</h3>

<p>Welkom bij de Brekkenrace, de zeilwedstrijd op de Oudegaaster Brekken georganiseerd vanaf camping de
  Bearshoeke.
  Er wordt meestal in drie klassen gevaren, de Open klasse, de eenmansboot en de Optimisten klasse.</p>

<p>
  Zowel in de Open klasse als in de eenmansboot klasse wordt gevaren met een handicap systeem: de “rating Brekkenrace”.
  Iedere boot die op de lijst voorkomt met de daarbij horende tuigage kan aan de wedstrijden deelnemen. De ratings staan
  onder de menuknop rating op de homepage van www.brekkenrace.nl.
</p>

<ul>
  <li>Deelname aan de Optimisten klasse staat open voor kinderen tot en met 14 jaar;</li>
  <li>Deelname aan de eenmansklasse staat open voor jeugd en volwassenen.(starten in dezelfde wedstrijd)</li>
  <li>Deelname aan de Volwassenen eenmansboot staat open voor 18 jaar ouder;</li>
</ul>


<p>
  Deelname is alleen mogelijk met een boottype dat is opgenomen in de rating van de Brekkenrace. Daarnaast moet ieder
  schip voor de wedstrijdleiding goed herkenbaar zijn door een zeilnummer of duidelijk leesbare bootnaam.
</p>

<p>
  Mocht je twijfelen over in welke klasse je mee kan doen, overleg dan even met de wedstrijdleiding. In overleg met de
  wedstrijdleiding wordt dan bepaald in welke klasse je het best kan starten. Dit is afhankelijk van type boot en
  leeftijd van de stuurman/vrouw.
</p>

<h3 class="section-heading">
  De optimisten klasse
</h3>
<p>
  Voor de optimisten wordt, afhankelijk van de windrichting, een kleine wedstrijdbaan uitgezet zo dicht als mogelijk bij
  het strandje van de camping. De optimisten varen 2 wedstrijdjes.
</p>


<h3 class="section-heading">
  Eenmansboot, jeugd en volwassenen
</h3>
<p>
  Afhankelijk van de wind wordt er een wedstrijd baan uitgezet op de Brekken. Voor deze klassen bestaat de wedstrijd meestal uit
  3 wedstrijden.
</p>


<h3 class="section-heading">
  Open klasse
</h3>
<p>De open klasse bestaat meestal uit 3 wedstrijden. Ook deze klasse is op basis van handicap </p>

<h3>Over de wedstrijd</h3>
<p>
  We proberen de wedstrijdbaan zo dicht mogelijk bij de haveningang van de camping te leggen zodat de toeschouwers aan
  de wal goed zicht hebben op het wedstrijdverloop. Voor de wedstrijd van de Optimisten wordt de baan verkleind.
</p>

<p>
  Bij slecht weer of te harde wind wordt de wedstrijd afgelast. Bij een verwachte windkracht van 5 bft (17 knts) of
  hoger gaat de wedstrijd niet door. Op zaterdagochtend rond 8:00 uur wordt door de wedstrijdleiding bepaald of de wedstrijd
  al dan niet door gaat.
</p>


<p>
  Zaterdagochtend is er voorafgaand aan de wedstrijden om 09:00 uur het verplichte palaver bij de Fûke. Tijdens het
  palaver wordt de te varen route bekendgemaakt. Iedere deelnemer wordt hierbij verwacht om de laatste details en
  eventuele vragen door te nemen.
</p>

<p>
  Voor de Optimisten is er een apart palaver bij de Fûke. Dan wordt de wedstrijdroute voor de optimisten
  bekend gemaakt.
</p>


<p>
  De uitslagen worden rod 17:30 uur bekend gemaakt bij de Fûke. Voorafgaand daaraan is er gelegenheid om onder
  het genot van een drankje en een hapje de ervaringen uit te wisselen.
</p>



  <h3 class="section-heading">
    De wedstrijdleiding
  </h3>

  <p>Wedstrijdbepalingen Open Klasse en Eenmansboot Klasse</p>

  <h3>
    Wedstrijdreglement
  </h3>
  <p>
    Het dragen van een zwemvest is voor alle wedstrijdklassen verplicht, ook voor de bemanning in de Open Klasse.
  </p>

  <p>
    Een boot en zijn eigenaar nemen deel aan de wedstrijd op basis van sportiviteit en eerlijk spel en onder eigen
    verantwoordelijkheid. Het wedstrijdcomité kan daarom niet aansprakelijk gesteld worden voor geleden schade.
  </p>

  <p>
    Aan de hand van eigen constatering of naar aanleiding van protesten kan de wedstrijdleiding strafpunten, straftijd
    toekennen of je diskwalificeren voor een wedstrijd.
  </p>

  <p>
    Als je een voorrangsfout maakt kun je een protest en straf door de wedstrijdleiding voorkomen door 2 strafrondjes te
    varen. Daarbij moet je wel de voorrangsregels in acht nemen.
  </p>

  <p>
    Als je te vroeg bent gestart moet je terugvaren door de startlijn en opnieuw starten.
  </p>

  <p>
    Tijdens de wedstrijd, die voor ieder individueel schip duurt vanaf het voorbereidingssein (2 minuten sein) tot het
    moment van finishen gelden de Standaard Wedstrijdbepalingen (SWB), Appendix S van het Watersportverbond.
  </p>

  <p>Indien je om wat voor reden ook de wedstrijd staakt, meld je dat (of zorg je dat anderen dat melden) bij het
    startschip. Zorg dat je het telefoonnummer van het startschip hebt genoteerd en bij je hebt.</p>


</Layout>
