---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class="small" class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>



<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}

	/* browser window is 700px or smaller */
@media only screen and (max-width: 855px) {

  a {
	font-size: 12px;
  }
}
/* einde media query */
</style>
